html {
  font-family: Roboto, sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1200px;
  margin: 24px auto 16px;

  &-menu {
    display: flex;
    align-items: center;
    margin-bottom: 0;

    &-item {
      list-style-type: none;
      margin-right: 48px;

      &-link {
        color: #624F3F;
        cursor: pointer;
      }
    }
  }

  &-contacts {

    &-phone {
      color: #624F3F;
      margin-right: 24px;
      font-weight: 500;
    }


  }
}

.page {
  display: flex;
  flex-direction: column;
  width: 100%;

  &-slider {
    margin: 0 auto;
  }

  &-steps {
    display: flex;
    flex-direction: column;
    margin: 0 auto 48px;
    width: 1060px;

    &-title {
      font-size: 42px;
      text-align: center;
      width: 100%;
      margin: 48px 0 32px;
    }

    &-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }
  }

  &-video {
    background: #C4C4C4;
    width: 1105px;
    height: 586px;
    margin: 48px auto 0;
  }

  &-subscription {
    display: flex;
    flex-direction: column;
    width: 1200px;
    margin: 0 auto;

    &-title {
      font-size: 42px;
      text-align: center;
      margin: 48px 0 32px;
    }

    &-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 1200px;

      &-card {
        display: flex;
        flex-direction: column;
        width: 364px;
        cursor: pointer;

        &:hover {
          filter: drop-shadow(0px 6px 15px rgba(0, 0, 0, 0.12));
        }

        &-image {
          display: flex;
          background-image: url('assets/images/IMG_2611 1.jpg');
          width: 100%;
          height: 364px;

          &-sale {
            display: flex;
            flex-direction: column;
            position: absolute;
            width: 160px;
            background: #E20044;
            border-radius: 5px;
            padding: 4px;
            margin: 17px 0 0 17px;

            &-title {
              font-family: Manrope, sans-serif;
              color: #FFFFFF;
              font-weight: 800;
              width: 100%;
              text-align: center;
              font-size: 12px;
            }

            &-cost {
              font-family: Manrope, sans-serif;
              color: #FFFFFF;
              font-weight: 800;
              width: 100%;
              text-align: center;
              font-size: 12px;
            }
          }
        }

        &-description {
          display: flex;
          flex-direction: column;
          border: 0.8px solid #E2E2E2;
          padding: 0 32px;

          &-title {
            text-align: center;
            margin: 30px 0 20px;
            font-size: 24px;
            font-weight: 500;
          }

          &-subtitle {
            text-align: center;
            font-size: 14px;
            color: #AAAAAA;
          }

          &-container {
            display: flex;
            justify-content: space-between;
            width: 75%;
            margin: 27px auto;

            &-old_price {
              text-decoration-line: line-through;
              color: #AAAAAA;
              font-size: 18px;
              font-weight: 300;
            }

            &-new_price {
              display: flex;
              flex-direction: column;

              &-title {
                font-weight: 500;
                font-size: 18px;
              }

              &-subtitle {
                font-size: 11px;
                color: #AAAAAA;
                width: 100px;
              }
            }
          }

          &-button {
            width: 187px;
            border-radius: 0;
            padding: 8px 50px;
            font-size: 18px;
            margin: 0 auto 48px;
            color: black;
          }
        }
      }
    }

    &-current_card {
      display: flex;
      justify-content: space-between;
      width: 1200px;
      margin-top: 40px;

      &-gallery {
        display: flex;
        flex-direction: column;
        width: 655px;

        &-main_photo {
          display: flex;
          background-image: url('assets/images/IMG_5294 2.jpg');
          width: 655px;
          height: 655px;
          margin-bottom: 30px;
        }

        &-photos {
          display: flex;
          align-items: center;
          justify-content: space-between;

          &-photo {
            width: 200px;
            height: 200px;
            background: #F5F5F5;
          }

        }
      }

      &-options {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-left: 42px;

      }
    }

    &-registration {
      display: flex;
      flex-direction: column;
      width: 1200px;
      margin: 36px auto;

      &-hint {
        text-align: center;
        margin: 0 auto 36px;
        width: 600px;
      }

      &-purchases {
        display: inline-block;
        font-size: 24px;
        margin: 0 auto;

        &-title {
          border-bottom: 2px dashed #000000;
        }
      }

      &-cost {
        display: flex;
        align-items: center;
        font-size: 30px;
        text-align: center;
        margin: 36px auto;

        &-sum {
          font-weight: 700;
          margin-left: 16px;
        }
      }

      &-button {
        display: flex;
        margin: 0 auto 29px;

        &-item {
          font-weight: bold;
          font-size: 18px;
          padding: 17px 46px;
        }

      }

      &-delivery {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin: 22px auto 0;


        &-item {
          width: 587px;
          padding: 35px 47px;
          background: #F5F5F5;

          &-title {
            font-weight: bold;
            font-size: 18px;
            text-align: center;
            margin: 0 auto;
          }

          &-container {
            display: flex;
            justify-content: space-between;

            &-item {
              display: flex;
              flex-direction: column;

              &-title {
                color: #8F9199;
              }

              &-value {
                color: black;
              }
            }
          }
        }
      }
    }
  }

  &-reviews {
    display: flex;
    flex-direction: column;
    width: 1200px;
    margin: 0 auto;

    &-title {
      font-family: Manrope, sans-serif;
      font-weight: bold;
      font-size: 42px;
      text-align: center;
      margin: 48px 0 32px;
    }

    &-container {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &-card {
        display: flex;
        flex-direction: column;

        &-image {
          display: flex;
          background-image: url('assets/images/IMG_6593 1.jpg');
          width: 364px;
          height: 364px;
          margin-bottom: 6px;
        }

        &-description {
          font-size: 14px;
          width: 364px;

          &-more {
            color: lightgrey;
            cursor: pointer;
          }
        }
      }
    }
  }

  &-think {
    display: flex;
    flex-direction: column;
    width: 930px;
    margin: 36px auto 0;

    &-title {
      font-size: 42px;
      text-align: center;
      margin: 48px 0 32px;
    }

    &-container {
      border-top: 0.8px solid #E2E2E2;
      border-left: 0.8px solid #E2E2E2;
      border-right: 0.8px solid #E2E2E2;

      &-item {
        display: flex;
        flex-direction: column;
        padding: 27px 55px;
        border-bottom: 0.8px solid #E2E2E2;

        &-head {
          display: flex;
          align-items: center;
          justify-content: space-between;

          &-title {
            font-weight: 500;
            font-size: 18px;
          }

          &-chevron {
            cursor: pointer;
          }

          &-description {
            padding-top: 20px;
            font-size: 14px;
          }
        }
      }

    }
  }

  &-best_flowers {
    display: flex;
    flex-direction: column;
    width: 1200px;
    margin: 0 auto;

    &-title {
      font-size: 42px;
      text-align: center;
      margin: 48px 0 32px;
    }

    &-container {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      &-main_image {
        width: 782px;
        height: 782px;
        background: #C4C4C4;
        margin-bottom: 54px;
      }

      &-column {
        display: flex;
        flex-direction: column;
        margin-left: 54px;
        margin-bottom: 54px;

        &-photo {
          width: 364px;
          height: 364px;
          background: #C4C4C4;

          &:first-child {
            margin-bottom: 54px;
          }
        }
      }

      &-photo {
        width: 364px;
        height: 364px;
        background: #C4C4C4;
        margin-bottom: 54px;
      }
    }
  }

}

.footer {
  display: flex;
  flex-direction: column;
  background: #000000;
  padding: 27px 0;

  &-privacy_policy {
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
  }

  &-trademark {
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
  }
}

.btn-outline-primary {
  color: #624F3F !important;
  border-color: #624F3F !important;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: inherit !important;
  border-color: #624F3F !important;
}

.btn-outline-primary:focus, .btn-outline-primary.focus {
  box-shadow: none !important;
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
  color: #624F3F !important;
  background-color: transparent;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: #fff !important;
  border-color: #624F3F !important;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-primary.dropdown-toggle:focus {
  box-shadow: none !important;
}

.b-calendar {
  display: inline-flex;
}
.b-calendar .b-calendar-inner {
  min-width: 250px;
}
.b-calendar .b-calendar-header,
.b-calendar .b-calendar-nav {
  margin-bottom: 0.25rem;
}
.b-calendar .b-calendar-nav .btn {
  display: none !important;
}

.b-calendar .b-calendar-grid-help {
  display: none !important;
}
.b-calendar output {
  padding: 0.25rem;
  font-size: 80%;
}
.b-calendar output.readonly {
  background-color: #e9ecef;
  opacity: 1;
}
.b-calendar .b-calendar-footer {
  margin-top: 0.5rem;
}
.b-calendar .b-calendar-grid {
  padding: 0;
  margin: 0;
  overflow: hidden;
  border: none;

  &:hover {
    box-shadow: none;
  }
}
.b-calendar .b-calendar-grid .row {
  flex-wrap: nowrap;
}
.b-calendar .b-calendar-grid-caption {
  text-align: left !important;
  font-size: 20px !important;
  font-family: Roboto, sans-serif !important;
  padding: 0.25rem;
  margin-bottom: 20px !important;
}
.b-calendar .b-calendar-grid-body .col[data-date] .btn {
  width: 32px;
  height: 32px;
  font-size: 14px;
  line-height: 1;
  margin: 3px auto;
  padding: 9px 0;
}
.b-calendar .btn:disabled, .b-calendar .btn.disabled, .b-calendar .btn[aria-disabled=true] {
  cursor: default;
  pointer-events: none;
}
