html {
  font-family: Roboto, sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1200px;
  margin: 24px auto 16px;

  &-menu {
    display: flex;
    align-items: center;
    margin-bottom: 0;

    &-item {
      list-style-type: none;
      margin-right: 48px;

      &-link {
        color: #624F3F;
        cursor: pointer;
      }
    }
  }

  &-contacts {

    &-phone {
      color: #624F3F;
      margin-right: 24px;
      font-weight: 500;
    }


  }
}

.page {
  display: flex;
  flex-direction: column;
  width: 100%;

  &-slider {
    margin: 0 auto;
  }

  &-steps {
    display: flex;
    flex-direction: column;
    margin: 0 auto 48px;
    width: 1060px;

    &-title {
      font-size: 42px;
      text-align: center;
      width: 100%;
      margin: 48px 0 32px;
    }

    &-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }
  }

  &-video {
    background: #C4C4C4;
    width: 1105px;
    height: 586px;
    margin: 48px auto 0;
  }

  &-subscription {
    display: flex;
    flex-direction: column;
    width: 1200px;
    margin: 0 auto;

    &-title {
      font-size: 42px;
      text-align: center;
      margin: 48px 0 32px;
    }

    &-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 1200px;

      &-card {
        display: flex;
        flex-direction: column;
        width: 364px;
        cursor: pointer;

        &-image {
          display: flex;
          background-image: url('assets/images/IMG_2611 1.jpg');
          width: 100%;
          height: 364px;

          &-sale {
            display: flex;
            flex-direction: column;
            position: absolute;
            width: 160px;
            background: #E20044;
            border-radius: 5px;
            padding: 4px;
            margin: 17px 0 0 17px;

            &-title {
              font-family: Manrope, sans-serif;
              color: #FFFFFF;
              font-weight: 800;
              width: 100%;
              text-align: center;
              font-size: 12px;
            }

            &-cost {
              font-family: Manrope, sans-serif;
              color: #FFFFFF;
              font-weight: 800;
              width: 100%;
              text-align: center;
              font-size: 12px;
            }
          }
        }

        &-description {
          display: flex;
          flex-direction: column;
          border: 0.8px solid #E2E2E2;
          padding: 0 32px;

          &-title {
            text-align: center;
            margin: 30px 0 20px;
            font-size: 24px;
            font-weight: 500;
          }

          &-subtitle {
            text-align: center;
            font-size: 14px;
            color: #AAAAAA;
          }

          &-container {
            display: flex;
            justify-content: space-between;
            width: 80%;
            margin: 27px auto;

            &-old_price {
              text-decoration-line: line-through;
              color: #AAAAAA;
              font-size: 18px;
              font-weight: 300;
            }

            &-new_price {
              display: flex;
              flex-direction: column;

              &-title {
                font-weight: 500;
                font-size: 18px;
              }

              &-subtitle {
                font-size: 11px;
                color: #AAAAAA;
                width: 100px;
              }
            }
          }

          &-button {
            margin-bottom: 48px;
          }
        }
      }
    }

    &-current_card {
      display: flex;
      justify-content: space-between;
      width: 1200px;
      margin-top: 40px;

      &-gallery {
        display: flex;
        flex-direction: column;
        width: 655px;

        &-main_photo {
          display: flex;
          background-image: url('assets/images/IMG_5294 2.jpg');
          width: 655px;
          height: 655px;
          margin-bottom: 30px;
        }

        &-photos {
          display: flex;
          align-items: center;
          justify-content: space-between;

          &-photo {
            width: 200px;
            height: 200px;
            background: #F5F5F5;
          }

        }
      }

      &-options {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-left: 42px;

      }
    }

    &-registration {
      display: flex;
      flex-direction: column;
      width: 600px;
      margin: 36px auto;

      &-hint {
        text-align: center;
        margin-bottom: 36px;
      }

      &-purchases {
        display: inline-block;
        font-size: 24px;
        margin: 0 auto;

        &-title {
          border-bottom: 2px dashed #000000;
        }
      }

      &-cost {
        display: flex;
        align-items: center;
        font-size: 30px;
        text-align: center;
        margin: 36px auto;

        &-sum {
          font-weight: 700;
          margin-left: 16px;
        }
      }

      &-button {
        display: flex;
        margin: 0 auto;

        &-item {

        }

      }
    }
  }

  &-reviews {
    display: flex;
    flex-direction: column;
    width: 1200px;
    margin: 0 auto;

    &-title {
      font-family: Manrope, sans-serif;
      font-weight: bold;
      font-size: 42px;
      text-align: center;
      margin: 48px 0 32px;
    }

    &-container {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &-card {
        display: flex;
        flex-direction: column;

        &-image {
          display: flex;
          background-image: url('assets/images/IMG_6593 1.jpg');
          width: 364px;
          height: 364px;
          margin-bottom: 6px;
        }

        &-description {
          font-size: 14px;
          width: 364px;

          &-more {
            color: lightgrey;
            cursor: pointer;
          }
        }
      }
    }
  }

  &-think {
    display: flex;
    flex-direction: column;
    width: 930px;
    margin: 36px auto 0;

    &-title {
      font-size: 42px;
      text-align: center;
      margin: 48px 0 32px;
    }

    &-container {
      border-top: 0.8px solid #E2E2E2;
      border-left: 0.8px solid #E2E2E2;
      border-right: 0.8px solid #E2E2E2;

      &-item {
        display: flex;
        flex-direction: column;
        padding: 27px 55px;
        border-bottom: 0.8px solid #E2E2E2;

        &-head {
          display: flex;
          align-items: center;
          justify-content: space-between;

          &-title {
            font-weight: 500;
            font-size: 18px;
          }

          &-chevron {
            cursor: pointer;
          }

          &-description {
            padding-top: 20px;
            font-size: 14px;
          }
        }
      }

    }
  }

  &-best_flowers {
    display: flex;
    flex-direction: column;
    width: 1200px;
    margin: 0 auto;

    &-title {
      font-size: 42px;
      text-align: center;
      margin: 48px 0 32px;
    }

    &-container {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      &-main_image {
        width: 782px;
        height: 782px;
        background: #C4C4C4;
        margin-bottom: 54px;
      }

      &-column {
        display: flex;
        flex-direction: column;
        margin-left: 54px;
        margin-bottom: 54px;

        &-photo {
          width: 364px;
          height: 364px;
          background: #C4C4C4;

          &:first-child {
            margin-bottom: 54px;
          }
        }
      }

      &-photo {
        width: 364px;
        height: 364px;
        background: #C4C4C4;
        margin-bottom: 54px;
      }
    }
  }

}

.footer {
  display: flex;
  flex-direction: column;
  background: #000000;
  padding: 27px 0;

  &-privacy_policy {
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
  }

  &-trademark {
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
  }
}
